<style>
    .facebook_link_fixer {
        margin-bottom: 1.5em;
    }
    .facebook_link_fixer .unshit {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 2em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
        position: relative;
        text-align: center;
        color: #0076df;
        border: 1px solid #0076df;
        border-radius: 5px;
        line-height: 3em;
        padding-left: 5em;
        padding-right: 5em;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        outline: none;
    }

    .facebook_link_fixer .unshit:hover {
        color: white;
        box-shadow: 0 0 30px 0 rgba(0, 118, 223, 0.5);
        background-color: #0076df;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .facebook_link_fixer .unshit:hover:before {
        -webkit-animation: shine 0.5s 0s linear;
        -moz-animation: shine 0.5s 0s linear;
        animation: shine 0.5s 0s linear;
    }

    .facebook_link_fixer .unshit:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
    }

    .facebook_link_fixer .unshit:before {
        content: '';
        display: block;
        width: 0;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: white;
        box-shadow: 0 0 15px 3px white;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    @-webkit-keyframes shine {
        from {
            opacity: 0;
            left: 0%;
        }
        50% {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: 100%;
        }
    }

    @-moz-keyframes shine {
        from {
            opacity: 0;
            left: 0%;
        }
        50% {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: 100%;
        }
    }

    @keyframes shine {
        from {
            opacity: 0;
            left: 0%;
        }
        50% {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: 100%;
        }
    }

    .facebook_link_fixer .copy_result_to_clipboard,
    .facebook_link_fixer .go {
        border: none;
        text-align: center;
    }

    .facebook_link_fixer .copy_result_to_clipboard:hover,
    .facebook_link_fixer .copy_result_to_clipboard:active {
        color: inherit;
    }

    .facebook_link_fixer .err {
        display: none;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 0.8em;
        font-style: italic;
        color: #f95020;
    }

    .facebook_link_fixer .is-error ~ .err {
        display: block;
    }
</style>
<div class="facebook_link_fixer">
    <ul>
        <li>
            <label for="shitty_link">First paste your shitty mobile link here:</label>
            <input id="shitty_link" type="text" class="block field col-12" value=""
                   placeholder="https://m.faceb💩k.com/weneedwebdev"/>
            <span class="err col-12 hide">Your link is not shitty enough!</span>
        </li>
        <li>
            Then click this button:
            <button class="unshit button bg-white">Unshit!</button>
        </li>
        <li class="hide">And here you go!</li>
    </ul>
    <input id="good_link" type="text" class="block field col-12 mb0 hide" value=""
           placeholder="tadaa"/>
    <a class="go button button-blue col-6 hide" href="" target="_blank" rel="noopener noreferrer">Navigate me there!</a>
    <button class="copy_result_to_clipboard button bg-lighter-gray col-6 right hide">Copy!</button>
</div>

<script defer>
    (function () {
        const button = document.querySelector('button.unshit');
        const badInput = document.querySelector('#shitty_link');
        const goodInput = document.querySelector('#good_link');
        const copyToClipboardButton = document.querySelector('.copy_result_to_clipboard');
        const goToGoodLink = document.querySelector('a.go');
        button.addEventListener('click', generateLink);
        copyToClipboardButton.addEventListener('click', function () {
            copyToClipboard(copyToClipboardButton, goodInput);
        })

        function generateLink() {
            let goodLink = '';
            badInput.classList.remove('is-error');
            try {
                const badLink = new URL(badInput.value);
                const postId = badLink.searchParams.get('story_fbid');
                const userId = badLink.searchParams.get('id');

                if (!postId || !userId || badInput.value.indexOf('m.') < 0) {
                    throw new Error('Your link is not shitty enough!');
                }
                goodLink = `https://www.facebook.com/${userId}/posts/${postId}`;
                goodInput.value = goodLink;
                goToGoodLink.href = goodLink;
                document.querySelectorAll('.hide').forEach((hidden) => hidden.classList.remove('hide'));
            }

            catch (err) {
                badInput.classList.add('is-error');
            }
        }

        function copyToClipboard(buttonElem, targetElem) {
            if (document.queryCommandSupported('copy')) {
                clearSelection();
                const range = document.createRange();
                range.selectNode(targetElem);
                window.getSelection().addRange(range);

                try {
                    const successful = document.execCommand('copy');
                    const msg = successful ? 'Copied' : 'Oops, error!';
                    buttonElem.innerHTML = msg;
                } catch (err) {
                }
                clearSelection();
            }
            else {
                buttonElem.classList.add('hide');
            }

            function clearSelection() {
                if (document.selection) {
                    document.selection.empty();
                } else if (window.getSelection) {
                    window.getSelection().removeAllRanges();
                }
            }
        }
    })()
</script>