<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {{ content }}
  <!-- register service worker -->
  <script defer>
    (function () {
      if ('serviceWorker' in navigator && location.href.indexOf('localhost') === -1) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js').then(function (registration) {
            // ServiceWorker registration successful with registration.scope
          }, function (err) {
            // ServiceWorker registration failed with err
          });
        });
      }
    })();
  </script>
</body>

</html>