--- 
layout: default 
---

<div class="post">
  <h1>Tag: {{ page.tag }}</h1>
  {% if page.tag == "in-a-nutshell" %}
  <h2>What is it?</h2>
  <div class="description" style="position: relative; margin-bottom: 1em;">
      It happens sometimes: you see something cool, you try to google it, you find yourself stuck on a giant longread, and by the
      time you make it through the text, all your curiosity is gone.<br><br>
      In order to avoid this information overload I started <em>In a nutshell</em> – a new series of posts, where I basically try to
      make <strong>a summary</strong> of the information on something given by first couple of google search results page. 
      Just enough to get started without digging too deep.
  </div>
  <style>
    .description {
      animation: fade 5s 2s linear forwards;
    }
    .description strong {
      color: #333333;
    }
    @keyframes fade {
      from {color: #333333;}
      to {color: #cccccc;}
    }
  </style>
  {% endif %}
  <ul>
    {% for post in site.tags[page.tag] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br> {{ post.description }}
    </li>
    {% endfor %}
  </ul>
</div>
<hr>